* {
    box-sizing: border-box;
}

.bimage {
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-image:url(download.jpeg);
    background-size: 100%;
    transition: background-image 2s;
    z-index: -12;
    opacity: 0;
    transition: opacity 4s;
}

.reveal {
    opacity: 1;
}

.sidebar {
    padding: 20px;
    background-color: blue;
    color: white;
    font-size: 0.96vw;
    position: fixed;
    top:0;
    right: -600px;
    height: 100vh;
    width: 600px;
    text-align: center;
    transition: right .7s;
}

.active {
    right: 0;
}

.porridge {
    height: 100px;
    width: 100px;
    position: fixed;
    left: 30px;
    bottom: -400px;
    background-image: url(download.jpeg);
    transition: bottom 1.5s;
}

.spill {
    bottom: 0;
}