      html {
        cursor: url(money.gif), auto;
      }

      body {
        background:url('spoon.gif');
        height:100%;
        width:100%;
        background-size: cover;
      }

      h1 {
        color: rgb(61, 226, 102);
        text-align: center;
        font-family: "Cormorant Infant";
      }

      h4 {
      text-align: center;
      font-family: "Karla";
      color: white;
      }

      .blankspace {
        margin-top: 24px;
        padding-left: 2px;
      }

      p {
        font-family: "Cormorant Infant";
        font-size: 20px;
      }

      .blankspace {
        margin-top: 24px;
      }

      .nohead {
        font-size: 64px;
        font-family: "Karla";
      }

      .li {
        padding: 1em;
        display: block;
        list-style-type: disc;
      }


      .nohead {
        font-size: 64px;
        font-family: "Karla";
      }

      .mama {
        text-align: right;
        padding-right: 12px;
      }

      .baby {
        font-family: "Karla";
        margin-left: auto;
        font-size: 24px;
        display: inline-block;
        padding: 12px;
        vertical-align: middle;
        color: rgb(242, 114, 229);
      }
      
      h2 a { 
        position: absolute;
        font-size: 24px;
        text-align: right;
        width: 99%;
        font-family: "Karla";
        color: white;
        bottom: 95.58%;
      }
      
      h2 a span { 
        position:absolute ; 
        display:none;
        z-index:99; 
      }

      h2 a:hover span { 
        display:block; 
      }

      .photo {
        display: block;
        margin: auto;
        width: 14%;
        bottom: 0px;
        position: fixed;
      }

      .header {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        overflow: hidden;
        vertical-align: middle;
      }